<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    </head>
    <body>
        <div>
            <div class="col-3 p-3 mb-2">
                <a th:href="@{employee/form}" class="btn btn-primary">CREATE</a>
            </div>    
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">NAME</th>
                        <th scope="col">PHONE</th>
                        <th scope="col">JOINDATE</th>
                        <th scope="col">EMAIL</th>
                        <th scope="col">DEPARTEMENT_ID</th>
                        <th scope="col">ACTION</th>
                    </tr>   
                </thead>
                <tbody>

                    <tr th:each="employee: ${employees}">
                        <th th:text="${employee.employee_id}" scope="col">
                        <td th:text="${employee.fullname}">
                        <td th:text="${employee.phone}">
                        <td th:text="${employee.joindate}">
                        <td th:text="${employee.email}">
                        <td th:text="${employee.department.name}">  
                        <td><a th:href="@{employee/form/{id} (id = ${employee.employee_id})}"><button type="button" class="btn btn-link">Edit</button></a> | 
                            <form th:action="@{employee/delete/{id} (id = ${employee.employee_id})}" method="post">
                                <div class="col">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </div>   
                            </form>
                        </td> 
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>